/*NAV*/

#logo {
    padding-left: 1%;
    font-size: 45px;
    padding-top: 8px;
    color: black;
    font-family: 'Loved by the King', cursive;
    display: inline;
}

.form-group {
    margin-left: 2%;
    margin-top: -3%;
}

#myNav input {
    width: 800px;
    font-size:18px;
    height: 35px;
}

#myNav button {
    font-size: 20px;
    width: 150px;
}

#myNav {
    margin-top: 0;
    background-color: tomato;
    height: 60px;
}

/*BODY*/

body {
    padding-top: 80px;
    background: radial-gradient(rgba(255,255,255,.9), rgba(255,255,255,.7)), url('https://www.enterprise.com/content/dam/ecom/utilitarian/common/homepage-us/us-homepage-2up-business-rental.jpg.wrend.640.360.jpeg');
}

.carPrice, .carYear {
    font-size: 22px;
}

.carCard {
    border:1px solid black;
    border-radius: 5%;
    padding:1%;
    height:280px;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
/*     background: radial-gradient(rgba(255,255,255,.9), rgba(255,255,255,.7)), url('https://www.enterprise.com/content/dam/ecom/utilitarian/common/homepage-us/us-homepage-2up-business-rental.jpg.wrend.640.360.jpeg');
*/}

.carDescriptions {
    font-size: 20px;
}



#makeAndModel {
    font-size: 30px;
    letter-spacing: 2px;
}

.backgroundChange  {
    background-color: rgba(255,99,71,.8);
    border: 5px solid black;
    padding:.3%;
    color: white;
}
