/*NAV*/

#logo {
    padding-left: 3%;
    font-size: 45px;
    padding-top: 8px;
    color: black;
    font-family: 'Loved by the King', cursive;
    display: inline;
    letter-spacing: 17px;
}

.form-group {
    margin-left: 1%;
    margin-top: -2%;
}

#myNav input {
    width: 750px;
    font-size:18px;
    height: 39px;

}

#myNav button {
    font-size: 20px;
    width: 150px;
}

#myNav {
    margin-top: 0;
    background-color: tomato;
    height: 60px;
}

/*BODY*/

body {
    padding-top: 80px;
    background: radial-gradient(rgba(255,255,255,.9), rgba(255,255,255,.7)), url('https://www.enterprise.com/content/dam/ecom/utilitarian/common/homepage-us/us-homepage-2up-business-rental.jpg.wrend.640.360.jpeg');
}

.carPrice, .carYear {
    font-size: 22px;
}

.carCard {
    border:1px solid black;
    border-radius: 5%;
    padding:1%;
    height: 40vh;
    overflow: auto;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;

}

.carDescriptions {
    font-size: 20px;
}



#makeAndModel {
    font-size: 35px;
    letter-spacing: 3px;
    font-weight: 900;
}

.backgroundChange  {
    background-color: rgba(255,99,71,.8);
    border: 5px solid rgba(0,0,0,.7);
    padding:3%;
    color: white;
    line-height: 30px;
}
